<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<title> About TNt </title>
	</head>
	<body>
		<h1> About tandoori Nights </h1>
		<p> This is a fun project which is powered by AI (becasuse that is the catch phrase nowadays but this is actually AI)</p>
		<p> Try it out and have fun. It is a platform and song agnostic platform (mostly) and can mosst probably get you the sing-along version of that one song you could not find online</p>
		<p> WARNING it is still a work in progress. However, feedback is always appreciated. Mail me at arjunchau@gmail.com </p>
	</body>

</html>

